<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'salon/images/logo.png' %}" type="image/x-icon" sizes="16x16">
    <title>Gallery</title>
  </head>
  <body>
    <div>
      <h2>로그인 페이지 입니다.</h2>
    </div>
    <div>
      <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p>{{ res_date }}</p>
        <input type="submit" value="로그인" />
      </form>
    </div>
    <div>
      <br>
      <a type='button' href="{% url 'signup' %}" class='signup' style="text-decoration: none; font-size: small;">회원가입</a>
      <a type='button' href="{% url 'find_id' %}" class='find_id' style="text-decoration: none; font-size: small;">아이디 찾기</a>
      <a type='button' href="{% url 'password_reset' %}" class='find_pw' style="text-decoration: none; font-size: small;">비밀번호 찾기</a>
    </div>
  </body>
</html>
