<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="icon" href="{% static 'salon/images/logo.png' %}" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
</head>

{% include 'shared/_hp.html' %}
<div class="sidenav">
  <a href="{% url 'mypage:mypage' userid 'image' %}" style="color:#f1f1f1;">그림 보기</a>
  <a href="{% url 'mypage:mypage' userid 'music' %}">음악 보기</a>
</div>
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var target
    function like_count_on(e, artid) {
      target = e
      axios.post('/mypage/art_like/', {'artid':artid})
      .then( draw_like_count )
      .catch(function (error) { console.log(error) });
    }
    function draw_like_count(res) { 
      like_count = res.data['like_count'] + ' 명이 좋아합니다'
      is_like = res.data['is_like']
      target.parentElement.querySelector('#likecount').innerText = like_count

      toggle_likebtn(is_like, target.children[0]);
    }
    function toggle_likebtn(is_like, imgtag) {
      if (is_like) {
        imgtag.src = 'https://cdn-icons-png.flaticon.com/512/138/138533.png'
      } else {
        imgtag.src = 'https://cdn-icons-png.flaticon.com/512/138/138406.png'
      }
    }
  </script>
  
  <div class="main">
  <div class="grid-container">
    <h1> {{userid}}'s page </h1>
  </div>

    <div class="img">
      <div class="container">

      {% for img, islike in images %}
        <div class="btn-open-popup">
          <img class="tn_img" src="{{ img.thumbnailurl }}" alt="thumbnail" id="{{ img.id }}">
          <img class="test ori-img" src="{{ img.fileurl }}" alt="filename" style="display: none;">
          <p class="test input-text" style="display: none;">{{img.input_text}}</p>
          <div class="like-count-btn d-flex">
            <b id="likecount" style="font-family: 'NanumSquareNeo-Variable';">{{img.like_count}} 명이 좋아합니다</b>
            <button type="button" class="btn-like" onclick="event.stopPropagation(); like_count_on(this, '{{img.id}}');">
              {% if islike %}
              <img class="btn-img" src="https://cdn-icons-png.flaticon.com/512/138/138533.png">
              {% else %}
              <img class="btn-img" src="https://cdn-icons-png.flaticon.com/512/138/138406.png">
              {% endif %}
            </button>
          </div>
        </div>
        
        {% endfor %}
      </div>
    </div>
    
    <div class="modal">
      <div class="modal-body fade">
        <div class="modal-close">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
        {% if user.username == userid %}
        <diV class="modal-delete">
          <svg 
          width="24" 
          height="24"
          viewBox="0 0 512 512"
          xml:space="preserve" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink"> 
            <path d="M436,40h-81.716c-5.304,0-10.391-2.107-14.142-5.858L311.858,5.858C308.107,2.107,303.02,0,297.716,0h-83.432  c-5.304,0-10.391,2.107-14.142,5.858l-28.284,28.284C168.107,37.893,163.02,40,157.716,40H76c-22.091,0-40,17.909-40,40  s17.909,40,40,40h0v332c0,33.137,26.863,60,60,60h240c33.137,0,60-26.863,60-60V120c22.091,0,40-17.909,40-40S458.091,40,436,40z   M216,402c0,16.569-13.431,30-30,30s-30-13.431-30-30V190c0-16.569,13.431-30,30-30s30,13.431,30,30V402z M356,402  c0,16.569-13.431,30-30,30s-30-13.431-30-30V190c0-16.569,13.431-30,30-30s30,13.431,30,30V402z"/>
          </svg>
        </diV>
        <div class="modal-download">
          <a type='button' href="" class='download' download>
            <svg version="1.1" id="Capa_1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.827 49.827" style="enable-background:new 0 0 49.827 49.827;" xml:space="preserve">
              <path style="fill:#010002;" d="M44.939,41.327c0,4.687-3.813,8.5-8.5,8.5H13.388c-4.687,0-8.5-3.813-8.5-8.5
                c0-1.933,1.567-3.5,3.5-3.5s3.5,1.567,3.5,3.5c0,0.827,0.673,1.5,1.5,1.5h23.051c0.827,0,1.5-0.673,1.5-1.5
                c0-1.933,1.567-3.5,3.5-3.5S44.939,39.394,44.939,41.327z M22.439,34.302c0.657,0.656,1.547,1.025,2.475,1.025
                s1.818-0.369,2.475-1.025l10.333-10.334c1.367-1.367,1.367-3.583,0-4.95c-1.367-1.366-3.584-1.367-4.949,0l-4.358,4.358V3.5
                c0-1.933-1.567-3.5-3.5-3.5s-3.5,1.567-3.5,3.5v19.877l-4.359-4.359c-1.367-1.366-3.583-1.366-4.95,0
                c-1.367,1.367-1.367,3.583,0,4.95L22.439,34.302z"/>
            </svg>
          </a>
        </div>
        {% endif %}
        <div class="modal-items">
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const body = document.querySelector('body');
  const modal = document.querySelector('.modal');
  const modalClose = document.querySelector('.modal-close');
  const itemDelete = document.querySelector('.modal-delete');
  const itemDownload = document.querySelector('.modal-download');
  const btnOpenPopupList = document.querySelectorAll('.btn-open-popup');
  const modalItem = document.querySelector('.modal-items');
  var btn_open_popup, testlike, testlikecount;
  var btn_like, likecount;

  btnOpenPopupList.forEach(btnOpenPopup =>
    btnOpenPopup.addEventListener('click', (e) => {
      btn_open_popup = e.currentTarget.querySelector('.like-count-btn');
      console.log(btn_open_popup);
      modal.classList.toggle('show');

      if (modal.classList.contains('show')) {
        body.style.overflow = 'hidden';
      };
      var del_item = e.currentTarget.querySelector('.tn_img');
      var originImg = e.currentTarget.querySelector('.ori-img');
      var testImg = originImg.cloneNode(true);
      var inputText = e.currentTarget.querySelector('.input-text');
      var testText = inputText.cloneNode(true);
      btn_like = btn_open_popup.querySelector('.btn-like');
      likecount = btn_open_popup.querySelector('#likecount');
      testlike = btn_like.cloneNode(true);
      testlikecount = likecount.cloneNode(true);

      testImg.style.display = 'block';
      testText.style.display = 'block';
      testlike.style.cssText = 'position:absolute;'
      modalItem.appendChild(testText);
      modalItem.appendChild(testImg);
      modalItem.appendChild(testlike);
      modalItem.appendChild(testlikecount);
      
      itemDownload.addEventListener('click', (event) => {
        console.log(originImg.src);
        document.querySelector('.download').href = originImg.src;
      });
      itemDelete.addEventListener('click', (event) => {
        console.log(del_item.id);
        del_conf = confirm("정말 삭제하시겠습니까?");
        axios.post("/mypage/{{userid}}/delete_item/", {'del_item':del_item.id, 'del_conf':del_conf})
              .then(location.reload())
              .catch(function (error) {console.log(error)} ) 
      });

  }));

  modalClose.addEventListener('click', (event) => {
    btn_like.src = testlike.src;
    likecount.innerText = testlikecount.innerText;

    modal.classList.toggle('show');
    while (modalItem.firstChild) {
      modalItem.removeChild(modalItem.firstChild);
    } 
    if (!modal.classList.contains('show')) {
      body.style.overflow = 'auto';
      location.reload();
    }
  });
  
  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      btn_like.src = testlike.src;
      likecount.innerText = testlikecount.innerText;

      modal.classList.toggle('show');
      while (modalItem.firstChild) {
        modalItem.removeChild(modalItem.firstChild);
      } 
      if (!modal.classList.contains('show')) {
          body.style.overflow = 'auto';
          location.reload();
      }
    }
  });

</script>
</html>
