<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'salon/images/logo.png' %}" type="image/x-icon" sizes="16x16">
    <title>Gallery</title>
  </head>
  <body>
    <div>
      <h2>설정 페이지</h2>
    </div>
    <div>
      <button><a type='button' href="/password_reset" style="text-decoration: none">비밀번호 재설정</a></button>
     
    </div>
  </body>
</html>
