<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'salon/images/logo.png' %}" type="image/x-icon" sizes="16x16">
    <title>Gallery</title>
  </head>
  <body>
    <div>
      <h2>회원가입 페이지 입니다.</h2>
    </div>
    <div>
      <form method="POST">
        {% csrf_token %}
        {% include "mypage/form_errors.html" %}
        아이디: <br>
        <input id="username" name="username" type="text">
        <input id="btn-username" type="button" value="아이디 중복 체크">
        <br>

        비밀번호: <br>
        <input id="password1" name="password1" type="password">
        <br>

        비밀번호 확인: <br>
        <input id="password2" name="password2" type="password">
        <br>

        이메일: <br>
        <input id="email" name="email" type="email">
        <input id="btn-email" type="button" value="이메일 중복 체크">
        <br>
        <small>※ 입력하신 이메일을 통해 아이디 찾기, 비밀번호 변경이 가능하오니 신중히 입력하시길 바랍니다 ※</small>
        <br><br>
        <input type="submit" id="join-form" class="btn btn-primary" value="Sign Up" id_check_result="" email_check_result="" >
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
    <script>
      /* 중복체크! */
      $(function(){
          /* 아이디 수정했을 때 */
        $('#username').change(function () {
          $('#btn-username').show();
        });
        $('#email').change(function () {
          $('#btn-email').show();
        });

        $('#btn-username').click(function(){
          var username = $('#username').val()
          if(username == ''){
            alert('아이디를 입력해주세요.')
            return;
          }
          $.ajax({
            url:'/check_id?username='+username,
            type:'get',
            dataType:'json',
            success:function(response){
              if(response.result != 'success'){
                console.error(response.data)
                return;
              }
              if(response.data == 'exist'){
                alert("존재하는 아이디 입니다!ㅇㅠㅇ");
                $('#username').val('').focus();
                return;
              }else{
                alert("사용 가능한 아이디 입니다!");
                $('#btn-username').hide();
                $("#join-submit").attr("id_check_result", "success");
                return;
              }
            },
              error : function(xhr, error){
              alert("서버와의 통신에서 문제가 발생했습니다.");
              console.error("error : " + error);
            }
          })
        });
        $('#btn-email').click(function(){
          var email = $('#email').val()
          if(email == ''){
            alert('이메일를 입력해주세요.')
            return;
          }
          $.ajax({
            url:'/check_email?email='+email,
            type:'get',
            dataType:'json',
            success:function(response){
              if(response.result != 'success'){
                console.error(response.data)
                return;
              }
              if(response.data == 'exist'){
                alert("존재하는 이메일 입니다!ㅇㅠㅇ");
                $('#email').val('').focus();
                return;
              }else {
                alert("사용 가능한 이메일 입니다!");
                $('#btn-email').hide();
                $("#join-submit").attr("email_check_result", "success");
                return;
              }
            },
              error : function(xhr, error){
              alert("이메일 형식이 유효한지 확인해 주세요!");
              console.error("error : " + error);
            }
          })
        });


        $('#join-form').submit(function() {
          console.log("submit clicked!");
          console.log($("#join-submit").attr("email_check_result"));

          if($("#join-submit").attr("email_check_result") == "fail") {
              alert("이메일 중복체크를 해주시기 바랍니다.");
              $("#email").focus();
              return false;
          }
        });

        $("#username").on("propertychange change keyup paste input", function(){
          $('#btn-username').show();
          $("#join-submit").attr("id_check_result", "fail");
        });
        $("#email").on("propertychange change keyup paste input", function(){
          $('#btn-email').show();
          $("#join-submit").attr("email_check_result", "fail");
        });
      });
    </script>
  </body>
</html>
