<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'salon/images/logo.png' %}" type="image/x-icon" sizes="16x16">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Roboto+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'salon/css/progressBar.css' %}">
    <link rel="stylesheet" href="{% static 'salon/css/font.css' %}">
  </head>
  <body>
    <div class="text-center">
      <div class="d-flex justify-content-center mt-3">
        <h2><p class="mb-3 guide-text">입력한 텍스트와 맞는 작품을 생성합니다.</p></h2>
      </dc:\Users\PC\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmliv>
      </div>
    <div class="grid-container">
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
      <script>
        var onceTimer;
        var step = 2;
        function progress_step() {
          document.getElementById('progressBar').value += step;
          if (document.getElementById('progressBar').value >= 99) {
            clearInterval(onceTimer);
            console.log('=================end')
          }
        }
        function progress_start() {
          var title = document.getElementById('title').value
          axios.post("/result_model/", {'text':title}) //post로 인풋데이터넣기
          .then( finish_model )
          .then(function () { alert("작품 생성이 완료되었습니다.")} )
          .catch(function (error) {console.log(error)} ) 
  
          onceTimer = setInterval(progress_step, 1000);
          
        }
        function finish_model(res) {
          clearInterval(onceTimer); 
          document.getElementById('progressBar').value = 100;

          console.log(res.data);
          img_file = res.data['img_file']
          img_tn_file = res.data['img_tn_file']
          mus_file = res.data['mus_file']
          title = document.getElementById('title').value
          console.log(img_file, img_tn, mus_file, title);

          var form = document.createElement('form'); // 폼객체 생성
          var img, img_tn, mus, txt;
          img = document.createElement('input'); // 값이 들어있는 녀석의 형식
          img.setAttribute('type', 'hidden'); // 값이 들어있는 녀석의 type
          img.setAttribute('name', 'img_file'); // 객체이름
          img.setAttribute('value', img_file); //객체값
          form.appendChild(img);

          img_tn = document.createElement('input');
          img_tn.setAttribute('type', 'hidden');
          img_tn.setAttribute('name', 'img_tn_file');
          img_tn.setAttribute('value', img_tn_file);
          form.appendChild(img_tn);
          
          mus = document.createElement('input');
          mus.setAttribute('type', 'hidden');
          mus.setAttribute('name', 'mus_file');
          mus.setAttribute('value', mus_file);
          form.appendChild(mus);
          
          txt = document.createElement('input');
          txt.setAttribute('type', 'hidden');
          txt.setAttribute('name', 'input_text');
          txt.setAttribute('value', title);
          form.appendChild(txt);

          form.setAttribute("charset", "UTF-8");
          form.setAttribute('method', 'post'); //get,post 가능
          form.setAttribute('action', "/result/"); //보내는 url
          document.body.appendChild(form);
          form.submit();
        }
    
      </script>
        <div class="border align-items-center justify-content-center gap-1" style="height: 350px;background-color: #F0F8FF;font-family: 'NanumSquareNeo-Variable';">
          <label for="name"></label>
          <input type="text" id="title" name="title" required
          minlength="4" maxlength="100" size="50" placeholder="3자 이상 100자 이하의 한글, 영어, 숫자만 입력하세요."><br>
          <p>
            <button disabled id="btn_create" class="btn btn-primary mt-3" onclick="progress_start()" >생성하기
            </button>
          </p>
        </div>
        <div class="justify-content-center">
          <progress id="progressBar" value="0" min="0" max="100"></progress>
          <p class="est-time">예상 소요 시간 약 1분…</p>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <p class="signup-drive-text">※ 회원가입을 하시면 생성된 작품을 저장하실 수 있습니다 ※</p>
        </div>
        <div class="text-center">
          <img class="gif-img" src="https://i.giphy.com/media/3owyoXMzSPGjbsQ5uE/giphy.webp" onerror="this.onerror=null;this.src='https://i.giphy.com/3owyoXMzSPGjbsQ5uE.gif';" alt="">
        </div>
      </div>
    <br/>
  <script type="text/javascript" src="{% static 'salon/js/createBtn.js' %}"></script>
  </body>
</html>
